.oculto {
  margin-left: 90%;
  display: none;
}

.contenedor:hover .oculto {
  display: inline-block;
}

.acordeon{
  width: 99%;
  margin-bottom: 0%;
}

.acordeon-dos{
  width: 98%;
  margin-bottom: 0%;
  background-color: rgb(201, 200, 200);
}

.acordeon-tres{
  width: 97%;
  margin-bottom: 1%;
  background-color:rgb(162, 161, 161) ;
}